/* import font ROBOTO */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
    overflow-x: hidden;
    background: #fafafa;
    background-size: cover, auto;
    background-image: url('/media/green-grass.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #333333;
    padding: 10%;
    font-family: 'Roboto', 'sans-serif', 'Open Sans';
    /* font-size: 12px; */
    margin: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

p {
    overflow: scroll;
}

ul {
    margin: 0;
}

.about-container {
    padding-top: 75px;
}

.bg-steel {
    background-color: #765f8a;
}

header {
    width: auto;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    width: 100%;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}


/* Nav Tabs */

.tab {
    border: 1px solid #ccc;
    padding: 10px;
}

.tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
}

.tab-content {
    display: flex;
}

.tab-container {
    display: block;
    animation: fadeIn 0.3s;
}

.tab-button:hover {
    background: #e0e0e0;
}

.tab-button.active {
    background: #e0e0e0;
}


/* Smooth color change to make links look better */

a {
    color: #1b80b7;
    transition: all .2s linear;
}

a:hover {
    color: #52bff2;
}


/* Card-specific styles */

#petCard {
    overflow: auto;
    height: 75%;
    width: 100%;
    word-wrap: break-word;
}

.row {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    position: relative;
    max-width: 410px;
}


/* Equal Card Height */

.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}


/* Control image height */

.card-img-top-250 {
    max-height: 250px;
    /* overflow: auto; */
}


/* Carousel styles */


/* Carousel item controls */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.carousel-control-next-icon:after {
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    font-size: 40px;
    color: red;
}


/* Ensure equal card height inside carousel */

.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}


/* Prevent flicker during transition */

.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

.slide {
    flex: 0 0 20em;
    height: 20em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    transition: transform 0.3s ease-in-out;
}

.description {
    height: 200px;
    overflow: auto;
}