{% extends 'users/base.html' %}
{% block content %}
    <div class="about-container">
        <h2>About Petster</h2>
        <blockquote>
            Petster aims to provide a simple, attractive portal for matching people looking for a pet with the prospective adoptable pets in any area in the U.S.
            App users will be able to search their current location automatically or set a search area based on any zip code, manually. This will return a list of pets with photos, descriptions and adoption information. The user will swipe or click through the offerings with the option to forget/ignore, pass, or add a pet to a favorites list for later review.
        </blockquote>
    </div>
{% endblock %}