{% extends 'users/base.html' %}
{% block content %}
  <div class="card text-med bg-light mb-3">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
    </div>
    <div id="pet-img"> 
      <img class="card-img" src="media/default.jpg" alt="Card image">
      <!-- <div class="card-body">
      </div> -->
    </div>
    <div class="card-footer">
      <h5 class="card-title">Pet Name</h5><br>
      <p class="card-text">With description of Pet, including size, weight, etc.</p>
    </div>
</div>
{% endblock %}
